[Unit]
Description=Build the local minus-one bootc image
Wants=network-online.target
After=network-online.target
OnFailure=minus-one-build-failure.service

[Service]
Type=oneshot
EnvironmentFile=/etc/minus-one-build.conf
ExecStart=/usr/bin/bash ${MINUS_ONE_SOURCE}/local-build.sh
ExecStart=/usr/bin/bootc upgrade
TimeoutStartSec=infinity
